/** 左右滑入的动画 **/
.slide-right-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
}
.slide-right-leave,
.slide-right-enter-active {
  transition: all 0.3s;
}
.slide-left-enter,
.slide-left-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
}
.slide-left-leave,
.slide-left-enter-active {
  transition: all 0.3s;
}

/** 上下滚动的动画 **/
.scrollHorizontal-enter {
  transform: translate3d(0, -100%, 0);
  opacity: 0;
}
.scrollHorizontal-enter-to {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.scrollHorizontal-leave {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.scrollHorizontal-leave-to {
  transform: translate3d(0, 100%, 0);
  opacity: 0;
}
.scrollHorizontal-enter-active {
  transition: all 0.3s;
}
.scrollHorizontal-leave-active {
  transition: all 0.3s;
}

.fade-enter-active{
  transition: opacity .3s;
}
.fade-leave-active {
  transition: opacity .1s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}

//悬浮图标样式
.global-float-icon {
  box-sizing: border-box;  
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  background-color: white;
  padding-top: 0.8rem;
  text-align: center;
  i {
    color: $color-font-gray;
    font-size: $size-font-xxx-large;
  }
}
//分割线的样式
.global-border {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  left: 1rem;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid $color-border-primary;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
//返回图标的样式
.global-back {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  box-sizing: border-box;
  padding-top: 0.5rem;
  padding-left: 0.4rem;
  background-color: rgba(222, 222, 222, 0.5);
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  z-index: 999;
  color: white;
  i {
    font-size: $size-font-x-large;
  }
}
