$color-font-primary: #323233;
$color-font-gray: #969799;
$color-font-darkgray: rgba(69, 90, 100, 0.6);
$color-font-darkgray-o6: rgba(69, 90, 100, 0.6);
$color-font-darkgray-o9: rgba(69, 90, 100, 0.9);
$color-font-red: rgb(255, 69, 0);
$color-font-red-o9: rgba(255, 69, 0, 0.9);
$color-font-orange: #FFC300;

$color-font-turquoise: #5bc0de;
$color-font-azure: #1989fa;
$color-font-azuretran1: rgba(25, 137, 250, 0.1);
$color-font-azure-o9: rgba(25, 137, 250, 0.9);
$color-font-blue: #3366ff;
$color-font-green: #07c160;

$color-pink: #ffa5ff;
$color-darkblue: #337ab7;
$color-brownness: #c0c022;
$color-lavender: #b0b0ff;
$color-splashing:#ee799f;
$color-grassgreen:#5cb85c;
$color-babyblue:#5bc0de;
$color-orange:#f0ad4e;
$color-orange-o2:rgba(240, 173, 78, 0.2);
$color-palegreen: #b0f0d0;
$color-darkgreen: #006666;
$color-purple: #6633FF;
$color-cerise: #ee0a24;
$color-yellow: #FFCC66;
$color-rose: #FF6666;


$size-font-x-small: 0.8rem;
$size-font-smaller: 1rem;
$size-font-small: 1.2rem;
$size-font-normal: 1.4rem;
$size-font-large: 1.6rem;
$size-font-larger: 1.8rem;
$size-font-x-large: 2rem;
$size-font-xx-large: 2.2rem;
$size-font-xxx-large: 2.4rem;
$size-font-xxxx-large: 2.6rem;
$size-font-xxxxx-large: 2.8rem;
$size-font-3x-large: 3rem;
$size-font-4x-large: 4rem;
$size-font-5x-large: 5rem;
$size-font-6x-large: 6rem;
$size-font-7x-large: 7rem;
$size-font-8x-large: 8rem;
$size-font-9x-large: 9rem;
$size-font-10x-large: 10rem;

$color-bg-primary: #f7f8fa;
$color-bg-darkgray: #dedede;
$color-bg-red: #ff4500;
$color-bg-azure: #1989fa;
$color-bg-turquoise: #5bc0de;
$color-bg-darkturquoise: #51b6de;
$color-bg-turquoiseopacity: rgba(91, 192, 222, 0.7);
$color-bg-turquoiseopacity3: rgba(91, 192, 222, 0.3);

$color-border-primary: #ebedf0;
$color-border-grayopacity: rgba(221, 221, 221, 0.25);

